<h3>Sharing is Caring</h3>

<p><%= flash[:notice] %></p>

<div id="user-widget">
  <% if current_user %>
    Thank You <strong><%= current_user.name %></strong>! |
    <%= link_to "Sign out from Linkedin", signout_path, id: "sign_out" %>


  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %> |
    <%= link_to 'Sign in with Linkedin', '/auth/linkedin' %>
  <% end %>
</div>
<br>



<% if current_user.present? && current_user.uid == ENV['LINKEDIN_UID'] %>

  <div class="row">
    <div class="span 6 offset 3">
      <%= form_tag linkedin_share_path,method: :post do %>

        <%= label_tag "URL" %>
        <%= text_field_tag :url, params[:url] %>

        <%= label_tag "Caption" %>
        <%= text_field_tag :caption, params[:caption] %>

        <%= submit_tag "Share on Linkedin", class: "btn btn-xs btn-primary" %>

      <% end %>
    </div>
  </div>

  <h3>Users List</h3>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Token Expire Date</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user,index| %>
        <tr>
          <th scope="row"><%= index+=1 %></th>
          <td><%= user.name %></td>
          <td><%= user.oauth_expires_at.strftime('%d/%m/%Y') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
